<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/confirm.css">
  <title>Thank You!</title>

</head>
<body>

  <main>
    
    <img src = "/images/green-checkmark.jpg">
    <h1>Thank you for your order!</h1>
    <p id="subtitle">Your ice cream order has been confirmed.</p>

    <div id="inner">
      <h2>Personal Information</h2>

      <h3>Name:</h3> <p><%= submission.name %></p>
      <br>
      <h3>Email:</h3> <p><%= submission.email %></p>
      <br>

      <h2>Order Details</h2>
      <h3>Flavor:</h3> <p><%= submission.flavor %></p>
      <br>
      <h3>Cone:</h3> <p><%= submission.cone_type %></p>
      <br>
      <h3>Toppings:</h3>
      <% if (Array.isArray(submission.toppings) && submission.toppings.length > 0) { %>
      <% submission.toppings.forEach(topping => { %>
        <p class="topping"><%= topping %></p>
      <% }); %>
      <% } else { %>
        <p class = "topping">None</p>
      <% } %>
    
      <h2>Additional Comments</h2>
      <article id="comment"> <%= (submission.comment) ? submission.comment : "None" %></article>

    </div>
    
    <div id = "buttons-div">
      <button id="print" onclick="window.print()">Print Order</button>
      <button onclick="location.href='/'" id="another-order">Place Another Order</button>
    </div>


  </main>

  <footer><a href="/admin">Admin Link</a></footer>

</body>
</html>