<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You!</title>
</head>
<body>

  <h1>Order confirmed, <%= submission.fname %></h1>

  <h2>Order Details</h2>

  <p>Name: <%= submission.name %></p>
  <p>Email: <%= submission.email %></p>
  <p>Flavor: <%= submission.flavor %></p>
  <p>Cone: <%= submission.cone_type %></p>
  <p>Toppings:  <%= Array.isArray(submission.toppings) ?
                submission.toppings.join(', ') :
                "No toppings" %></p>

  <a href="/">Return?</a>
  
</body>
</html>